html,
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #fcfcfc;
}

nav .brand-logo {
	font-size: 1rem;

	@media (min-width: 992px) {
		font-size: 2rem;
	}
}